node_modules/
.next/
.env.local
.env
*.log
drizzle/
.vercel/
dist/
.DS_Store

.vercel
package-lock.json

# allow pre-built standalone
!.next/
!.next/standalone/
!.next/standalone/**
!.next/static/
!.next/static/**
.next/cache
